// Main Button 
.btn {
    background-color: rgba($greenColor, 0.7);
    border: none;
    padding: 5px 10px;
    width: 120px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    margin: 20px 0;
    @include prefixer(transition, $tranistionValue, webkit moz o);
    @include prefixer(border-radius, 10px, webkit moz o);

    &:hover {
        background-color: $greenColor;
    }
}