// Flexbox Mixin
@mixin flexbox($content) {
    display: flex;
    justify-content: $content;
    align-items: center;
}

// Grid Mixin
@mixin gridSystem($size) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($size, 1fr));
    gap: 30px;
}